aws_region        = "us-east-2"
unique_identifier = "coastproj"
app_name          = "demo-projects"
ld_api_key        = "api-XXXX"
ld_api_key_user   = "api-XXXX"
owner             = "your-name@launchdarkly.com"
